* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Metropolis, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    color: white;
}

#codearea {
    width: 70vw;
    height: 100vh;
    float: left;
}

#allvars {
    background: #20232a;
    width: 30vw;
    height: 100vh;
    float: right;
    padding: 15px;
    user-select: none;
    overflow: auto;
}

.MaplLogo {
    width: 75px;
    float: left;
}

.MaplTitle {
    display: inline-block;
    height: 75px;
    padding-left: 10px;
    padding-top: 20px;
}

fieldset,
details {
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    border: #4c5463 solid 2px;
}

fieldset {
    text-align: center;
}

legend {
    font-weight: bold;
    color: #4c5463;
}

fieldset button,
#filename {
    padding: 10px;
    font-weight: bold;
    background: none;
    border: none;
    color: white;
    border-radius: 5px;
}

#filename {
    border-bottom: #4c5463 solid 2px;
    background: #282c34;
}

#filename,
details[open] summary {
    margin-bottom: 20px;
    width: 100%;
}

summary, button {
    cursor: pointer;
}

fieldset button:hover {
    background: #282c34;
}

#error {
    background: #342a28;
    padding: 15px;
    border-radius: 5px;
    display: none;
}

#tree {
    user-select: text;
}

.cm-leaf {
    color: orange;
}

.cm-branch {
    color: orangered;
}

.cm-seed {
    color: dodgerblue;
}

.cm-mark {
    color: green;
}

.cm-string {
    color: green !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 41px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}

::-webkit-scrollbar-track {
    background: #1d1d1d;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #1d1d1d;
}

::-webkit-scrollbar-track:active {
    background: #1d1d1d;
}

::-webkit-scrollbar-corner {
    background: transparent;
}